extends ../../layouts/default

block content
  main.page-content

    include ../../components/categories-list

    section.tickets-list
      h2.visually-hidden Предложения из категории электроника
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title
            | #{currentCategory.title}
            b.js-qty #{currentCategory.count}
        ul
          each oneOffer in allOffers
            li.tickets-list__item
              .ticket-card.ticket-card--color01
                .ticket-card__img
                  img(src=`/img/${oneOffer.imageUrl}` alt=oneOffer.title)
                .ticket-card__info
                  +getTicketLabel(oneOffer.offerType)
                  .ticket-card__categories
                    each category in oneOffer.categories
                      a(href="#") #{category.title}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') #{oneOffer.title}
                    p.ticket-card__price
                      span.js-sum #{oneOffer.cost}
                      |  ₽
                  .ticket-card__desc
                    p #{oneOffer.description}

        +pagination(page, totalPages, 1, prefix)
