extends ../../layouts/default.pug

block content
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href='/offers/add')
            span Новая публикация
        ul
          each oneOffer in allOffers
            li.tickets-list__item.js-card
              .ticket-card.ticket-card--color06
                .ticket-card__img
                  img(src=`/img/${oneOffer['image_url']}` alt=`${oneOffer.title}`)
                .ticket-card__info
                  +getTicketLabel(oneOffer.type)(class=`span.ticket-card__label`)
                  .ticket-card__categories
                    each category in oneOffer.categories
                      a(href="#") #{category.title}

                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') #{oneOffer.title}
                    p.ticket-card__price
                      span.js-sum #{oneOffer.cost}
                      |  ₽
                button.ticket-card__del.js-delete(type='button') Удалить

